

.image-container img {
    transition: filter 0.3s ease;
}

.image-container img:hover {
    filter: brightness(0.5);
}
.image-container:hover .overlay {
    opacity: 1;
}

.property_main_container{
    padding:2% 10%;
    transition: all 0.3s ease-in-out;
}
.propertydetalis{
    gap: 10%;
}
@media only screen and (max-width: 1235px){
    .propertydetalis{
        gap: 3%;
        transition: all 0.3s ease-in-out;
    }
    .property_main_container{
        padding:2% 10% ;
        transition: all 0.3s ease-in-out;
    }
}
@media only screen and (max-width:975px){
    .property_main_container{
        padding:2% 7% ;
        transition: all 0.3s ease-in-out;
    }
}
@media only screen and (max-width:757px){
    .propertydetalis{
        gap: 3%;
        transition: all 0.3s ease-in-out;
    }
    .property_main_container{
        padding:2% 5% ;
        transition: all 0.3s ease-in-out;
    }
}
@media only screen and (max-width:735px){
    .payment_form{
        transform: translate(-18%,7%);
        transition: all 0.3s ease-in-out;
        position: relative;
    }
    .property_main_container{
        padding:0% 3% ;
        transition: all 0.3s ease-in-out;
    }
}
@media only screen and (max-width:653px){
    .property_main_container{
        padding:2% 1% ;
        transition: all 0.3s ease-in-out;
    }
}
@media only screen and (max-width:500px){
    .property_main_container{
        padding:0% 0% ;
        transition: all 0.3s ease-in-out;
    }
    .image-container img {
        transition: none;
    }
    
    .image-container img:hover {
        filter:none; /* Darken the image on hover */
    }
      
}



